.dashboard-container{
  
    
        width: 100%;
        max-width: 980px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        color: #e3e3e3;
        margin: 20px;
        margin-top: 110px;
    
    
}

.dashboard-header{
        font-family: 'Lobster', cursive;
        width: 100%;
        max-width: 980px;
        background-color:#002340;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 7px 8px 4px rgba(0, 0, 0, 0.25);
        position: fixed;
        top: 0;
        height: 100px;

}


.box{
    margin-top: 30px;
    width: 100%;
    max-width: 980px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-card{
    background-color:  #e3e3e3;
    color: #002340;
    width: 50%;
    border-radius: 4px;
    box-shadow: 7px 8px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;

}

.input-text h3{
    font-size: 15px;
}

.box button{

    font-family: 'open-sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: #002340;;
    border-style: none;
    color: #e3e3e3;
    box-shadow: 7px 8px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


.box button:hover{
    background-color: #023864;
    font-size: 15px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.61);
}

.bashboard-textarea{
    border: 1px  #023864 solid;
    height: 30px;
    width: 50%;
    border-radius: 4px;
}

.bashboard-textarea:focus{
    outline: none;
    border-color: #023864;
    box-shadow: 0 0 0 5px #7ab5b480;


}