.App {

  width: 1243px;
  text-align: center;
 
}



.App-header {
  width: 1243px;
  height: 127px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}

.App-Menu{
  width: 520px;
  height: 127px;
  display: flex;
  justify-content: space-around;
  color: #E3E3E3;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.61);
  align-items: right;


}
.App-Menu li{
  
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.App-Menu li ul{
  margin: 10px
}
.App-Menu li ul a{
  text-decoration: none;
}

.App-Menu li ul :hover{
  color: #7ab5b4be;
}

.App-Menu li ul a:visited{
  color:  #E3E3E3;
}


.Logo-home{
  width: 119px;
  height: 127px;
}


.Logo-home img{
  width: 119px;
}
.App-article {
  margin-top: 20px;
  width: 1243px;
  height:779px;
  display: flex;
  justify-content: space-between;
  

}

.Title{
  width: 500px; ;
  color: #E3E3E3;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 136px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.61);
  
}

.Home-video{
  width: 700px;
  height: 700px;
  left: 633px;
  top: 213px;
  border:  #E3E3E3 3px;

  background: #E3E3E3;
  box-shadow: 7px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-footer{
  width: 1243px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;


}

.Infos{
  text-align: left;
  color: #E3E3E3;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.61);


}
.Sociallinks{
  text-align: right;
  color: #E3E3E3;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.61);
}

.Sociallinks li{
  list-style: none;
  display: flex;
  justify-content: space-between;

}

.Sociallinks li ul img{
  width: 40px;
  margin-top: 5px;
}

.App-link {


  text-decoration: none;

}



.Logo-VLF{
  height: 40vh;

}

.Sombras{

    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);

}


