.clientes-container{

        width: 100%;
        max-width: 980px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        color: #e3e3e3;
        margin: 20px;
    
    
}

.clientes-container h1{

    max-width: 50%;
    font-family: 'Lobster', cursive;
    font-weight: 500;
    font-size: 2rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.61);

}

.clientes-cards{
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
    margin-top: 30px;
    justify-content: space-evenly;
    color: #002340;

}

.Cliente-card{
    margin: 10px 10px;

    height: 100px;
    width: 100px;
    background-color: #e3e3e3;
    border-radius: 4px;
    box-shadow: 7px 8px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.Cliente-card h2{
    width: 80%;
    margin-top: 10px;
    font-size: 10px;
}

.cliente-logo{
    height: auto;
    width: 75px;
}


.cliente-logo:hover{
    transition-duration: 0.3s;
    height: auto;
    width: 90px;
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.25);
}
